.status-wrapper {
    display: flex;
    margin: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 1600px;
    padding: 30px;
    background-color: #f7f7f7;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #ccc;
}

.status-locker {
    color: #1a252f;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
}

.locker-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.judul-status {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.instruction-text {
    font-size: 14px;
    color: #b0bec5;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: opacity 0.3s ease;
}

.submit-btn {
    background-color: #007BFF;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-btn:hover {
    background-color: #00a1a7;
    transform: translateY(-2px);
}

.additional-info {
    font-size: 12px;
    color: #b0bec5;
    margin-top: 20px;
    line-height: 1.5;
}

.status-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    color: white;
}

.LULUS-TERPILIH { background-color: #007BFF; }
.DITOLAK { background-color: #DC3545; }

.status-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.logo-ppdb {
    width: 100px;
    height: 100px;
}

.status-body {
    width: 100%;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-item-siswa {
    margin-bottom: 15px;
    font-size: 16px;
    gap: 10px;
}

.info-item-siswa strong {
    font-weight: bold;
}

.placeholder {
    display: inline-block;
    width: 200px;
    border-bottom: 1px solid #999999;
}

.instruction-box {
    background-color: #F5F5F5;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
}

.button:hover {
    background-color: #0056b3;
}

.additional-info {
    font-size: 14px;
    color: #666666;
    margin-top: 15px;
}

